---
import { Image } from "astro:assets";

import torreCem from "../images/torre-cem.jpg";
import chilemex from "../images/chilemex.jpg";
import centroGuayana from "../images/centro-empresarial-guayana.jpg";
import centroGuayana2 from "../images/centro-empresarial-guayana-2.jpg";
import image1 from "../images/hero-slider/image1.jpg";
import image2 from "../images/hero-slider/image2.jpg";
import image3 from "../images/hero-slider/image3.jpg";
import image4 from "../images/hero-slider/image4.jpg";
import image5 from "../images/hero-slider/image5.jpg";
import image6 from "../images/hero-slider/image6.jpg";
import image7 from "../images/hero-slider/image7.jpg";
import image8 from "../images/hero-slider/image8.jpg";
import image9 from "../images/hero-slider/image9.jpg";
---

<style>
    section {
        padding: 3rem 1rem;
        background-color: #f3f3f3;
    }
    .section-container {
        max-width: 1216px;
        margin: 0 auto;
    }
    .detail {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 0.875rem;
    }

    hr {
        width: 4rem;
        border-color: #505050;
    }

    h1 {
        margin-bottom: 1rem;
    }

    p.intro-text {
        margin-bottom: 1rem;
    }

    a {
        display: inline-block;
        border: 1px solid #cccccc;
        border-radius: 22px;
        padding: 0.5rem 1rem;

        color: #505050;

        box-sizing: border-box;

        text-decoration: none;
    }

    .descubre-mas {
        display: none;
        padding: 0;
    }

    .slider-hero {
        /* border: 1px solid red; */
        margin-bottom: 1rem;
        /* height: 300px; */
    }

    .slider-hero-mobile li{
        /* border: 1px solid red; */
    }

    .slider-hero-mobile img {
        height: auto;
        max-width: 100%;
    }


    .slider-hero{
        display: none;
    }


    @media only screen and (min-width: 600px) {
        section {
            padding: 4rem 2rem;
        }

        .slider-hero-mobile{
            display: none;
        }

        .slider-hero{
            display: block;
            max-width: 100%;
        }

        .intro {
            display: grid;
            grid-template-areas:
                "detail"
                "heading"
                "texto"
                "button"
                "slider-hero";
        }

        .detail {
            grid-area: detail;
        }

        h1 {
            margin-bottom: 2rem;
            grid-area: heading;
        }

        p.intro-text {
            margin-bottom: 2rem;
            grid-area: texto;
        }

        .intro a {
            justify-self: flex-start;
            grid-area: button;
            margin-bottom: 2rem;
        }

        .slider-hero {
            grid-area: slider-hero;
            margin-bottom: 0;
        }

        .card img{
            /* padding: 1rem; */
        }

        .descubre-mas {
            display: flex;

            align-items: center;
            gap: 1rem;

            border: none;
            background-color: transparent;
            font-size: 0.875rem;

            color: #505050;

            margin-top: 32px;
        }
    }

    @media only screen and (min-width: 990px) {
        .intro {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 0 3rem;
            grid-template-areas:
                "detail detail"
                "heading texto"
                "heading button"
                "slider-hero slider-hero";
        }
        h1 {
            min-width: 592px;
        }

        .intro-text {
            max-width: 448px;
            margin-left: auto;
        }

        a {
            margin-left: auto;
        }
    }
</style>

<section>
    <div class="section-container">
        <div class="intro">
            <div class="detail">
                <hr />
                <p>1966</p>
            </div>
            <h1>Corporación Empresas Morgado</h1>
            <div class="slider-hero-mobile">
                <div class="splide hero-mobile" aria-label="Splide Basic HTML Example">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide card">
                                <Image
                                    src={image1}
                                    alt="Cantera La Danta"
                                    width={592}
                                    height={600}
                                />
                            </li>
                            <li class="splide__slide card">
                                <Image
                                    src={image4}
                                    alt="Cantera La Danta"
                                    width={592}
                                    height={600}
                                />
                            </li>
                            <li class="splide__slide card">
                                <Image
                                    src={image7}
                                    alt="Cantera La Danta"
                                    width={592}
                                    height={600}
                                />
                            </li>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="slider-hero">
                <div class="splide hero" aria-label="Splide Basic HTML Example">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide card">
                                <Image
                                    src={image1}
                                    alt="Cantera La Danta"
                                    width={592}
                                    height={600}
                                />
                            </li>
                            <li class="splide__slide card">
                                <Image
                                    src={image2}
                                    alt="Cantera La Danta"
                                    width={280}
                                    height={600}
                                />
                            </li>
                            <li class="splide__slide card">
                                <Image
                                    src={image3}
                                    alt="Cantera La Danta"
                                    width={280}
                                    height={600}
                                />
                            </li>
                            <li class="splide__slide card">
                                <Image
                                    src={image4}
                                    alt="Cantera La Danta"
                                    width={592}
                                    height={600}
                                />
                            </li>
                            <li class="splide__slide card">
                                <Image
                                    src={image5}
                                    alt="Cantera La Danta"
                                    width={280}
                                    height={600}
                                />
                            </li>
                            <li class="splide__slide card">
                                <Image
                                    src={image6}
                                    alt="Cantera La Danta"
                                    width={280}
                                    height={600}
                                />
                            </li>
                            <li class="splide__slide card">
                                <Image
                                    src={image7}
                                    alt="Cantera La Danta"
                                    width={592}
                                    height={600}
                                />
                            </li>
                            <li class="splide__slide card">
                                <Image
                                    src={image8}
                                    alt="Cantera La Danta"
                                    width={280}
                                    height={600}
                                />
                            </li>
                            <li class="splide__slide card">
                                <Image
                                    src={image9}
                                    alt="Cantera La Danta"
                                    width={280}
                                    height={600}
                                />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <p class="intro-text">
                Desde su llegada a Venezuela en los años 50, la familia Morgado
                ha sido una pieza clave en el desarrollo de Ciudad Guayana y el
                crecimiento de la industria de Venzuela.
            </p>

            <a href="#">Nuestra historia -></a>
        </div>

        <button class="descubre-mas">
            <svg
                width="48"
                height="48"
                viewBox="0 0 48 48"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <circle
                    cx="24"
                    cy="24"
                    r="24"
                    transform="rotate(90 24 24)"
                    fill="#222973"></circle>
                <path
                    d="M24 15.75L24 32.25"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                <path
                    d="M30.75 25.5L24 32.25L17.25 25.5"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
            </svg>

            <p>Descubre más sobre nosotros</p>
        </button>
    </div>
</section>

<script is:inline>
    document.addEventListener("DOMContentLoaded", function () {
      var splideHero = new Splide(".splide.hero", {
        type: "loop",
        perPage: 3,
        perMove: 1,
        arrows: false,
        pagination: false,
        gap: "2rem",
        autoWidth: true,
        // autoHeight: true, // Enable autoHeight for responsive height
        breakpoints: {
          // mediaQuery: 'min',
          // 900: {
          //   fixedWidth: "260px",
          // },
        },
      });
      splideHero.mount();

      var splideHeroMobile = new Splide(".splide.hero-mobile", {
        type: "loop",
        perPage: 1,
        perMove: 1,
        arrows: false,
        pagination: false,
        // autoWidth: true,
        // autoHeight: true, // Enable autoHeight for responsive height
        breakpoints: {
          // mediaQuery: 'min',
          // 900: {
          //   fixedWidth: "260px",
          // },
        },
      });
      splideHeroMobile.mount();
    });
  </script>
